* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
           
body{
    background-image: url(https://img.meta.com.vn/Data/image/2021/10/12/cac-mau-background-halloween-dep-nhat-7.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}

html {
    font-size: 16px;
}

.body{
    background-color:rgb(0,0,0,0.5);
    height: 45px;
    width: 100%;
    color: rgb(236, 100, 100);
    display: flex;
    line-height: 20px;
    font-family: 'Zombie Control', sans-serif;

}
.body .maintop{
    padding: 5px;
}
.body .loginsingup{
    padding: 5px;
}
.body a  {
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    float: left;
    padding: 7px 16px;
    
}
.body a:hover{
    background-color: rgb(99, 99, 99);
    border-radius: 23px;
}
.body  input{
    float: right;
    border: none;
    background-color: black;
    
}
.body button{
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}
.parent input[type="text"] {
    height: 30px;
    width: 400px;
    padding: 2px; 
    color: rgb(236, 236, 236);
    border: none;
    outline: none;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;

    
}
.parent{
    padding: auto;
    text-align: center;
    margin: auto;
}
.option{
    color: white;
    margin-top: 5%;
    display: flex;
}
.filter  {
    margin: auto;
    font-size:24px;

}
.filter li{
    list-style: none;
    padding: 5px 40px;
}
.filter a{
    padding: 5px 16px;
    padding-right:70px ;
    text-decoration: none;
    color: white;
}
.IC {
    font-size: 30px;
}
.IC button{
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    padding: 10px 0px 10px 0px;
    border: none;
}
.IC #parent{
    background-color: rgb(0,0,0,0.5);
    border-radius: 23px;
    display: block;
    min-width: 300px;
}
#parent button{
    font-family: 'Carnival Corpse Extra-Expanded', sans-serif;
}
#parent i{
    float: right;
    margin-top: 3%;
}
.IC #textdown{
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.76);
    position: absolute;
    padding: 5px 45px 5px 20px;
    display: none;
}
.option {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    font-family: 'Restless Soul BB', sans-serif;
}
.option h1{
    background-color: rgb(0,0,0,0.5);
    width: 16%;
    padding: 10px;
    border-radius: 20px;
}
.selectcolumn{
    max-width: 200px;
    border-right: 1px solid rgb(190, 190, 190);
    padding: 4px;
    max-height: 600px;
    background-color: rgb(0,0,0,0.5);
    padding: 5px;
    border-radius: 20px;
}
.selectcolumn li{
    list-style: none;
    padding: 5px 5px 5px 5px;
}
.selectcolumn a{
    text-decoration: none;
    color: rgb(179, 178, 178);
}
.selectcolumn a:hover{
    color: white;
}
#Price{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 10px;
}
#Price input{
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(116, 116, 116);
    border-radius: 20px;
    padding: 2px;
    margin: 3px;
    color: antiquewhite;
}
#Price button{
    width: 30px;
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(116, 116, 116);
    border-radius: 20px;
    color: antiquewhite;
    padding: 1px;
}
.row{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.bying{
    display: flex;
}
.productsforsale img{
    width: 150px;
    border-radius: 10px;
    height: 170px;

}
.productsforsale{
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgb(0,0,0,0.5);
    padding:  10px 0px 10px 0px;
    border-radius: 20px;

}
.product{
    padding: 2px;
    margin-right: 10px;
    margin-left: 10px ;
    height: 300px;
    max-height: 300px;
}
.product:hover{
    padding-top: 3px;
}
.product p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
h1 ,h2, h3{
    font-family: 'Carnival Corpse Extra-Expanded', sans-serif;
}
.placebuying{
    display: flex;
    flex-direction: column;
}
.nextpage{
    margin: auto;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0,0,0,0.5);
    border-radius: 10px;
}
.nextpage a{
    padding: 5px;
    font-size: 20px;
}